function Piece.isEnemy 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Piece.getColor 1
eq
not
return
function Piece.promote 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Piece.pieceTypeFromPieceChar 0
push argument 0
push constant 78
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
return
label IF_FALSE0
push argument 0
push constant 66
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 3
return
label IF_FALSE1
push argument 0
push constant 82
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 4
return
label IF_FALSE2
push argument 0
push constant 81
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 5
return
label IF_FALSE3
push constant 0
return
function Piece.init 0
push constant 7
call Array.new 1
pop static 0
push constant 1
push static 0
add
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 1
call String.new 1
push constant 78
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push constant 1
call String.new 1
push constant 66
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 0
add
push constant 1
call String.new 1
push constant 82
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 0
add
push constant 1
call String.new 1
push constant 81
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 0
add
push constant 1
call String.new 1
push constant 75
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
call Array.new 1
pop static 1
push constant 1
push static 1
add
push constant 1
call String.new 1
push constant 112
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 1
call String.new 1
push constant 110
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 1
call String.new 1
push constant 98
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 1
call String.new 1
push constant 114
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 1
call String.new 1
push constant 113
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 1
call String.new 1
push constant 107
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Piece.dispose 0
push argument 0
pop pointer 0
push constant 0
return
function Piece.getColor 0
push argument 0
pop pointer 0
push this 0
return
function Piece.toString 1
push argument 0
pop pointer 0
push this 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push static 1
add
pop pointer 1
push that 0
return
goto IF_END0
label IF_FALSE0
push this 1
push static 0
add
pop pointer 1
push that 0
return
label IF_END0
function Piece.draw 4
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
push argument 3
push this 0
call Sprites.drawPawn 4
pop temp 0
label IF_FALSE0
push this 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push argument 2
push argument 3
push this 0
call Sprites.drawKnight 4
pop temp 0
label IF_FALSE1
push this 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push argument 2
push argument 3
push this 0
call Sprites.drawBishop 4
pop temp 0
label IF_FALSE2
push this 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push argument 2
push argument 3
push this 0
call Sprites.drawRook 4
pop temp 0
label IF_FALSE3
push this 1
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push argument 2
push argument 3
push this 0
call Sprites.drawQueen 4
pop temp 0
label IF_FALSE4
push this 1
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 1
push argument 2
push argument 3
push this 0
call Sprites.drawKing 4
pop temp 0
label IF_FALSE5
push constant 0
return
function Piece.isPawn 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
return
function Piece.isKnight 0
push argument 0
pop pointer 0
push this 1
push constant 2
eq
return
function Piece.isBishop 0
push argument 0
pop pointer 0
push this 1
push constant 3
eq
return
function Piece.isRook 0
push argument 0
pop pointer 0
push this 1
push constant 4
eq
return
function Piece.isQueen 0
push argument 0
pop pointer 0
push this 1
push constant 5
eq
return
function Piece.isKing 0
push argument 0
pop pointer 0
push this 1
push constant 6
eq
return
function Piece.pawn 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 1
pop this 1
push pointer 0
return
function Piece.knight 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 2
pop this 1
push pointer 0
return
function Piece.bishop 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 3
pop this 1
push pointer 0
return
function Piece.rook 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 4
pop this 1
push pointer 0
return
function Piece.queen 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 5
pop this 1
push pointer 0
return
function Piece.king 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 6
pop this 1
push pointer 0
return
