function SquareGenerator.getP0 1
push constant 1
call Array.new 1
pop local 0
push constant 0
push constant 1
call Square.fromBoardIndices 2
push local 0
push constant 0
add
pop pointer 1
pop that 0
push local 0
return
function SquareGenerator.getP1 0
push argument 0
push argument 0
push constant 1
push constant 1
neg
call SquareGenerator.multiplyScalar 3
push constant 1
call SquareGenerator.zipUnion 3
return
function SquareGenerator.getWazir 0
push argument 0
push argument 0
push constant 2
call SquareGenerator.transposeElements 2
push constant 2
call SquareGenerator.zipUnion 3
return
function SquareGenerator.getFerz 0
push argument 0
push argument 0
push constant 4
push constant 0
not
call SquareGenerator.addElements 4
return
function SquareGenerator.init 4
call SquareGenerator.getP0 0
pop local 0
push local 0
push constant 1
call SquareGenerator.printSquares 2
pop temp 7
push local 0
call SquareGenerator.getP1 1
pop local 1
push local 1
push constant 2
call SquareGenerator.printSquares 2
pop temp 7
push local 1
call SquareGenerator.getWazir 1
pop local 2
push local 2
push constant 4
call SquareGenerator.printSquares 2
pop temp 7
push local 2
call SquareGenerator.getFerz 1
pop local 3
push local 3
push constant 4
call SquareGenerator.printSquares 2
pop temp 7
push local 2
push local 3
push constant 4
call SquareGenerator.zipUnion 3
pop static 0
push static 0
push static 0
push constant 8
push constant 0
not
call SquareGenerator.addElements 4
pop static 4
push local 3
push constant 4
call SquareGenerator.riderClosure 2
pop static 2
push local 2
push constant 4
call SquareGenerator.riderClosure 2
pop static 3
push static 0
push constant 8
call SquareGenerator.riderClosure 2
pop static 1
push constant 0
return
function SquareGenerator.printSquares 2
push constant 0
pop local 1
label LABEL1_X88b9294933044cd0900c75b365414eaa
push local 1
push argument 1
lt
not
if-goto LABEL2_X83ce24ee037f4af58f5c8af1d7e2721d
push argument 0
push local 1
add
pop pointer 1
push that 0
pop local 0
push local 0
push constant 0
eq
not
if-goto X24b39e8861a142e2bfd9279d5f885887
push constant 4
call String.new 1
push constant 78
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 76
call String.appendChar 2
call Output.printString 1
pop temp 7
call Output.println 0
pop temp 7
goto X0a15f12797254551983a53cd4d2c1d24
label X24b39e8861a142e2bfd9279d5f885887
push local 0
call Output.printInt 1
pop temp 7
call Output.println 0
pop temp 7
push local 0
call Square.toString 1
call Output.printString 1
pop temp 7
call Output.println 0
pop temp 7
label X0a15f12797254551983a53cd4d2c1d24
push local 1
push constant 1
add
pop local 1
goto LABEL1_X88b9294933044cd0900c75b365414eaa
label LABEL2_X83ce24ee037f4af58f5c8af1d7e2721d
push constant 0
return
function SquareGenerator.getRiderDist 0
push constant 8
return
function SquareGenerator.getRiderDistForPiece 0
push argument 0
call Piece.isKnight 1
push argument 0
call Piece.isKing 1
or
not
if-goto Xa426e312707546a386bd1d2294663ac2
push constant 1
return
goto X6e423c2aa458416fa7e8e1798d1f5ac6
label Xa426e312707546a386bd1d2294663ac2
label X6e423c2aa458416fa7e8e1798d1f5ac6
call SquareGenerator.getRiderDist 0
return
function SquareGenerator.riderClosure 6
call SquareGenerator.getRiderDist 0
pop local 2
push local 2
push argument 1
call Math.multiply 2
call Array.new 1
pop local 0
push constant 0
pop local 4
push argument 1
call Array.new 1
pop local 1
push constant 0
pop local 5
label LABEL1_X6ee6bb130d4b4289bdb68d144c7a1a89
push local 5
push argument 1
lt
not
if-goto LABEL2_X27fcb57ce1664acc8acb21db79032849
push constant 0
push constant 0
call Square.fromBoardIndices 2
push local 1
push local 5
add
pop pointer 1
pop that 0
push local 5
push constant 1
add
pop local 5
goto LABEL1_X6ee6bb130d4b4289bdb68d144c7a1a89
label LABEL2_X27fcb57ce1664acc8acb21db79032849
push constant 0
pop local 3
label LABEL1_X5c8ed669693e4532b6dd0198ca2c2e6f
push local 3
push local 2
lt
not
if-goto LABEL2_Xd167baa5d660428fa88234a2745b6a90
push argument 0
push local 1
push argument 1
push constant 0
call SquareGenerator.addElements 4
pop local 1
push constant 0
pop local 5
label LABEL1_X3a885eaf9c9d442ab180068bf9dd0262
push local 5
push argument 1
lt
not
if-goto LABEL2_X9cf8d254d9b74945a776fdc63c2a47f0
push local 1
push local 5
add
pop pointer 1
push that 0
push local 0
push local 4
add
pop pointer 1
pop that 0
push local 5
push constant 1
add
pop local 5
push local 4
push constant 1
add
pop local 4
goto LABEL1_X3a885eaf9c9d442ab180068bf9dd0262
label LABEL2_X9cf8d254d9b74945a776fdc63c2a47f0
push local 3
push constant 1
add
pop local 3
goto LABEL1_X5c8ed669693e4532b6dd0198ca2c2e6f
label LABEL2_Xd167baa5d660428fa88234a2745b6a90
push local 0
return
function SquareGenerator.zipUnion 1
push constant 2
push argument 2
call Math.multiply 2
call Array.new 1
pop local 0
push argument 2
push constant 1
sub
pop argument 2
label LABEL1_X77ac1e29623f4e008716f32a7e3a3ba9
push argument 2
push constant 1
neg
gt
not
if-goto LABEL2_Xe491e961a6c346e9aaee90030b24dd2f
push argument 0
push argument 2
add
pop pointer 1
push that 0
push local 0
push constant 2
push argument 2
call Math.multiply 2
add
pop pointer 1
pop that 0
push argument 1
push argument 2
add
pop pointer 1
push that 0
push local 0
push constant 2
push argument 2
call Math.multiply 2
push constant 1
add
add
pop pointer 1
pop that 0
push argument 2
push constant 1
sub
pop argument 2
goto LABEL1_X77ac1e29623f4e008716f32a7e3a3ba9
label LABEL2_Xe491e961a6c346e9aaee90030b24dd2f
push local 0
return
function SquareGenerator.addElements 4
push argument 2
call Array.new 1
pop local 0
push constant 0
pop local 2
label LABEL1_X7cab8240be054a37a9941ee16eaedf3f
push local 2
push argument 2
lt
not
if-goto LABEL2_X99bccfe1fb5141a581ae33cd36766810
push argument 3
not
if-goto X7f25bbecaf3e41dea187974393d76ec0
push local 2
push argument 2
call Util.modularIncrement 2
pop local 3
goto X4b6450b018cf45aca8cf1a2178c781a3
label X7f25bbecaf3e41dea187974393d76ec0
push local 2
pop local 3
label X4b6450b018cf45aca8cf1a2178c781a3
push argument 0
push local 2
add
pop pointer 1
push that 0
pop local 1
push local 1
push argument 1
push local 3
add
pop pointer 1
push that 0
call Square.addSquare 2
push local 0
push local 2
add
pop pointer 1
pop that 0
push local 2
push constant 1
add
pop local 2
goto LABEL1_X7cab8240be054a37a9941ee16eaedf3f
label LABEL2_X99bccfe1fb5141a581ae33cd36766810
push local 0
return
function SquareGenerator.transposeElements 2
push argument 1
call Array.new 1
pop local 0
push argument 1
push constant 1
sub
pop argument 1
label LABEL1_X3d88cddedab14bdc8aa38c00a9d28394
push argument 1
push constant 1
neg
gt
not
if-goto LABEL2_Xf33169235bf045ed9eb47104c6e6d868
push argument 0
push argument 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Square.getY 1
push local 1
call Square.getX 1
call Square.fromBoardIndices 2
push local 0
push argument 1
add
pop pointer 1
pop that 0
push argument 1
push constant 1
sub
pop argument 1
goto LABEL1_X3d88cddedab14bdc8aa38c00a9d28394
label LABEL2_Xf33169235bf045ed9eb47104c6e6d868
push local 0
return
function SquareGenerator.multiplyScalar 2
push argument 1
call Array.new 1
pop local 0
push argument 1
push constant 1
sub
pop argument 1
label LABEL1_Xd15e0ac8cf564774950a5d8078f8a4e1
push argument 1
push constant 1
neg
gt
not
if-goto LABEL2_X2d8ef30a44cd4976be0f108a945346cb
push argument 0
push argument 1
add
pop pointer 1
push that 0
pop local 1
push local 1
push argument 2
call Square.multiplyScalar 2
push local 0
push argument 1
add
pop pointer 1
pop that 0
push argument 1
push constant 1
sub
pop argument 1
goto LABEL1_Xd15e0ac8cf564774950a5d8078f8a4e1
label LABEL2_X2d8ef30a44cd4976be0f108a945346cb
push local 0
return
function SquareGenerator.getOffsetsByPiece 0
push argument 0
call Piece.isKing 1
not
if-goto X08b958e856c34511a82a4b6ec37160a2
push static 0
push constant 8
call List.newFromArray 2
return
goto X9240af7a0c1a475c97cd0ff1f699fabb
label X08b958e856c34511a82a4b6ec37160a2
label X9240af7a0c1a475c97cd0ff1f699fabb
push argument 0
call Piece.isKnight 1
not
if-goto Xed26bc286885459facb26d5b789c83db
push static 4
push constant 8
call List.newFromArray 2
return
goto X55cd1f2f3f954980ac89eb77cd246071
label Xed26bc286885459facb26d5b789c83db
label X55cd1f2f3f954980ac89eb77cd246071
push argument 0
call Piece.isBishop 1
not
if-goto X6aad924dba6f4ee9b49b8ea6b6263d03
push static 2
call SquareGenerator.getRiderDist 0
push constant 4
call Math.multiply 2
call List.newFromArray 2
return
goto Xf25ddd95b50744b2b8e1c4db34b5d50b
label X6aad924dba6f4ee9b49b8ea6b6263d03
label Xf25ddd95b50744b2b8e1c4db34b5d50b
push argument 0
call Piece.isRook 1
not
if-goto X91efd0adbaea4eb5ad8c0ac6f3cfca2a
push static 3
call SquareGenerator.getRiderDist 0
push constant 4
call Math.multiply 2
call List.newFromArray 2
return
goto Xa090c0e4f6b2461fa2213d2ad0989d30
label X91efd0adbaea4eb5ad8c0ac6f3cfca2a
label Xa090c0e4f6b2461fa2213d2ad0989d30
push argument 0
call Piece.isQueen 1
not
if-goto X570b3768d78f45d1a383796da9c8b1ed
push static 1
call SquareGenerator.getRiderDist 0
push constant 8
call Math.multiply 2
call List.newFromArray 2
return
goto Xd582d7ca64054cc4a1f9a3207fb2a3f4
label X570b3768d78f45d1a383796da9c8b1ed
label Xd582d7ca64054cc4a1f9a3207fb2a3f4
push constant 0
return
